<h3>Advanced initialisation</h3>

<h4>Row id</h4>

Sometimes, it can be useful to add each row an HTML id. Sometimes too, the row id cannot just be an incremented id but a dynamic builded string, for instance, from a bean's attribute.

You have at one's disposal 3 attributes : <tt>rowIdBase</tt>, <tt>rowIdPrefix</tt> and <tt>rowIdSuffix</tt>.

<ul>
<li><tt>rowIdBase</tt> : String evaluated as a property of the current iterated bean</li>
<li><tt>rowIdPrefix</tt> : String prepended to the <tt>rowIdBase</tt> attribute</li>
<li><tt>rowIdSufix</tt> : String appended to the <tt>rowIdBase</tt> attribute</li>
</ul>

<hr/>
<h5>Example</h5>

    <datatables:table id="myTableId" data="${persons}" rowIdBase="id" rowIdPrefix="person_">
        <datatables:column title="Id" property="id" />
        <datatables:column title="FirstName" property="firstName" />
        <datatables:column title="LastName" property="lastName" />
        <datatables:column title="Street" property="address.street1" />
        <datatables:column title="Mail" property="mail" />
     </datatables:table>
      
As a result, <strong>DataTables4j</strong> will produce the following HTML code :

    <table id="myTableId">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Street</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr id="person_1">
                <td>1</td>
                <td>Selma</td>
                <td>Maldonado</td>
                <td>Ap #351-1812 Eu, Ave</td>
                <td>venenatis@Duisvolutpat.com</td>
            </tr>
            <tr id="person_2">
                <td>2</td>
                <td>Vanna</td>
                <td>Salas</td>
                <td>947-3605 Feugiat. St.</td>
                <td>bibendum.fermentum.metus@ante.ca</td>
            </tr>
            ...
        </tbody>
    </table>
      
<hr />
<h5></h5>
<a href="${demoAppUrl}/advanced/rowid" class="btn btn-success" target="_BLANK">See the demo</a>