<h3>Basic initialisation</h3>

<h4>Table width</h4>

You can enable or disable automatic column width calculation using the <code>autoWidth</code> table tag attribute.

<hr />
<h5>Example</h5>

    <datatables:table id="myTableId" data="${persons}" autoWidth="false">
        <datatables:column title="Id" property="id" />
        <datatables:column title="FirstName" property="firstName" />
        <datatables:column title="LastName" property="lastName" />
        <datatables:column title="Street" property="address.street1" />
        <datatables:column title="Mail" property="mail" />
     </datatables:table>

As a result, <strong>DataTables4j</strong> will produce and externalize the following Javascript code :

    var oTable_myTableId;
    $(document).ready(function(){
        oTable_myTableId = $('#myTableId').dataTable({
            "sDom" : "lfrtip",
            "bAutoWidth" : false,
            "aoColumns" : [
                {"bSortable" : true}, 
                {"bSortable" : true}, 
                {"bSortable" : true}, 
                {"bSortable" : true}, 
                {"bSortable" : true} 
            ]
        });
    });

<hr />
<h5>Demo</h5>
<a href="${demoAppUrl}basic/autowidth" class="btn btn-success" target="_BLANK">See the demo</a>