<h3>Development</h3>

<h4>Issue tracking</h4>

<h5>Overview</h5>

This project uses [GitHub](http://github.com/) to track issues.

<h5>Access</h5>

Issues, bugs, and feature requests should be submitted in the [DataTables4j core project](https://github.com/datatables4j/datatables4j-core/issues).